DATABASE_URL="postgresql://logilite:logilite@localhost:5432/logilite?schema=public"

DATABASE_URL_NEON="postgresql://neondb_owner:npg_pd9ZokvsqE3V@ep-proud-base-adu30mra-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require"